.s_thumb {
	position: static !important;
}
.s_price, .s_product_row .s_row_number {
  behavior: url(catalog/view/theme/shoppica/js/PIE.php);
}

.s_list_view .s_item,
.s_grid_view .s_item .s_rating,
.s_list_view .s_item .s_rating .s_percent,
.s_grid_view .s_item .s_rating .s_percent
{
  background-color: #fff !important;
}
.s_list_view .s_item:hover {
  margin: 0;
  padding: 20px 0 !important;
  border-bottom: 1px solid #ccc !important;
}
.s_grid_view .s_item:hover {
  margin: -20px -11px -49px -11px !important;
  ~margin: -20px -11px -58px -11px !important;
  padding: 20px !important;
	border: 1px solid #ccc;
	background: #fff;
}
.s_grid_view .s_item h3 {
  margin-bottom: 0 !important;
  padding-bottom: 9px !important;
}
.s_grid_view .s_item .s_rating {
	position: relative;
	left: -40px;
	float: left;
	margin-left: 50%;
	margin-top: -1px;
	padding-bottom: 0;
	~padding-bottom: 19px;
}
.s_grid_view .s_item:hover .s_rating {
	margin-bottom: 10px;
	~margin-bottom: 9px;
}

#categories .s_submenu h3 {
  padding: 18px 0 13px 0;
}
.s_item.s_size_1:hover {
  margin: 0 0 16px 0 !important;
  padding: 0 !important;
}
.ui-notify-message .s_item:hover {
  margin: 0 5px 16px 5px !important;
  padding: 0 !important;
}
.s_item.s_size_1 .s_rating_holder {
  padding-left: 0;
}
#product .s_tabs_nav {
  border-left: 1px solid #fff;
}
#product_share .s_rating_holder {
	overflow: hidden;
}
#product_share .s_rating_holder .s_rating,
#product_share .s_rating_holder .s_average
{
	~display: inline;
}
.addthis_toolbox {
	overflow: hidden;
}
#shop_contacts td {
  height: 32px;
  padding-bottom: 20px;
}
.s_submit {
  height: 36px;
}
.s_submenu,
#search_bar
{
  margin-top: -1px;
  border: 1px solid #ddd;
}
div.pp_content_container {
  border: 1px solid #ccc;
}
.s_button_1 {
  position: relative;
}
.s_button_1 .s_text {
  position: relative;
  border: none;
}
.s_button_1.s_ddd_bgr .s_text {
  border: none;
}
.s_button_1.s_ddd_bgr:hover .s_text {
  border: none;
}
.ui-notify-message {
	border: 1px solid #ccc;
}

.checkout .checkout-content {
	overflow: hidden;
	width: 100%;
}
.checkout .s_submit {
	float: right;
}
.checkout .s_submit .s_button_1 {
	float: left;
}

.s_module_content {
	position: static;
}
.s_module_content:hover {
	position: relative;
	z-index: 1;
	zoom: 1;
}
.s_carousel {
	position: static !important;
	z-index: 0 !important;
}
.s_shoppica_banners {
	margin-top: 10px;
}
